.profile-dropdown {
  position: absolute;
  background-color: #333;
  padding: 1rem;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding: 9px; */
  border-bottom: 4px solid #f0705a;
  position: relative;
  background-color: #000;
}

.profile-menu {
  display: flex;
  flex-direction: row;
}

#create-post-link {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff
}

button {
  cursor: pointer;
}

li {
  list-style: none;
  margin: 5px auto;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

#logo {
  height: 3rem;
  width: auto;
}

.prof-btn {
  border-radius: 50%;
  padding: 8px;
}

.drop-btn {
  width: 100%;
}
