form {
    background-color: #262526;
}

#modal-content {
    background-color: #262526;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: flex;
    flex-direction: column;
}

.form-logo {
    height: 100px;
    width: auto;
}

.submit-btn {
    width: 100%;
    margin-top: 5px;
}

.signup-form-button {
    width: 177px;
}
